src/c00clupeaperf
*.o
*.Po
.deps
src/.deps
Makefile.in
src/Makefile.in
src/conf.h
*.dirstamp
*.plist
*.core
install-sh
config.status
Makefile
src/Makefile
build/
bin/
*~
aclocal.m4
depcomp
*.emacs.desktop
missing
clang_output_*
val
config.log
src/stamp-h1
autom4te.cache/
compile
config.guess
config.sub
configure
src/conf.h.in
*.log
c00clupeaperf-01.tar.gz
*.orig
src/*.orig